absl-py
asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
grpcio
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
parso
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pywin32; sys_platform == "win32"
pyzmq
setuptools
six
stack-data
sympy
tensorboard
tensorboard-data-server
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typing_extensions
wcwidth
Werkzeug